{% extends 'news/layout.html' %}

{% block title %}
    Disclaimer Information
{% endblock %}

{% block body %}
    <h1 style="text-align: center;font-size: 100px;">This is not a Official Site! its just a way for us to stay inform</h1>
    <h1 id="stop" style="text-align: center;font-size: 100px;">🛑</h1>
    <script>
        function blink(){
            document.querySelector('#stop').style.display = 'None';
            setTimeout(show,1000);
        }
        function show(){
            document.querySelector('#stop').style.display = 'block';
            setTimeout(blink,1000);
        }
        blink();
            
  
    </script>
{% endblock %}