@media(max-width: 700px){
    img{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        width: 850px;
    }
}

@media(min-width: 700px){
    img{
        width:90vw;
        height: 60vh;
    }
}

video{
    box-shadow: 0px 2px 10px 3px black;
    border-color: black;
    margin: 5px;
}

