<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HPLC 🧪</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table class="table table-striped table-hover">
        <tr>
            <th>Flavor</th>
            <th>Caffiene</th>
            <th>Benzoate</th>
            <th>Aspartame</th>
            <th>Sorbate</th>
            <th>Ace K</th>
        </tr>
        {% for i in hplc %}

            <tr>
                <td>{{i.name}}</td>
                <td>{{i.caf}} ( {{i.caf_low}} - {{i.caf_high}} )</td>
                <td>{{i.benz}} ( {{i.benz_low}} - {{i.benz_high}} )</td>
                <td>{{i.asp}} ( {{i.asp_low}} - {{i.asp_high}} )</td>
                <td>{{i.sorb}} ( {{i.sorb_low}} - {{i.sorb_high}} )</td>
                <td>{{i.ace}} ( {{i.ace_low}} - {{i.ace_high}} )</td>
            </tr>        
        {% endfor %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>